* {
    margin:0;
    padding:0;
    font-family: 'Roboto', 'sans-serif';
}

html {
    background-image: url("./imagens/back.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;
    width: 100%;
    color: rgb(226, 226, 226);
    font-weight: none;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

.container h2 {
    margin-bottom: 12px;
    font-size: 25px;
}

header {
    padding-bottom: 14px;
    font-weight: none;
    margin-bottom: 60px;
}

header h1 {
    margin-left: 20px;
    margin-top: 10px ;
    margin-bottom: 0px;
}

header, footer{
    background-color: #aeae89;
    color:#fff;
}

header {
    left: 0;
    top:0;
    justify-content: space-between;
    align-items: center;
}

button {
    display: block;
    width: 100%;
    padding: 6px 0;
    border: none;
    background-color: #1f774e;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px;
}

.form-campo {
    margin-bottom: 16px;
    width: 500px;
}

.form-campo label {
    font-weight:none;
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
}

.form-campo input, .form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
    font-size: 18px;
    background-color: rgba(247, 249, 251, 0.568);
}

.form-campo textarea {
    resize: none;
    height:16px;
}

form {
    max-width: 300px;
}

form button {
    margin-top: 15px;
    max-width: 120px;
    font-size: 18px;
}

footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 12px 10px;
}

footer ul {
    display: flex;
    list-style: none;
    margin-right: 0px;
}

footer li img {
    height: 20px;
    margin-right:10px;
}

footer p {
    margin-right: 70px;
}